html{
    scroll-behavior: smooth;
}

body{
    background-color:lavender; margin: 0px; 
}
/*comment*/
h1{
    font-size: 120px; text-align: center; color: cornflowerblue; font-family: 'Righteous', cursive;
}
h2{
    text-align: center; color: cadetblue; font-family: 'Zilla Slab', serif; margin: 15px; padding-top: 200px;
}
p{
    text-align: center; color:cornflowerblue; font-family: 'Zilla Slab', serif; margin: 0px 200px; line-height: 20px;
}

nav{background-color: aquamarine; padding: 15px 50px; padding-top: 30px; position: fixed; width: 100%; box-shadow: 0px 0px 50px 5px;

}

.navText{ text-decoration: none; margin: 10px 30px; font-family: 'Zilla Slab', serif; color:darkorchid; font-size: 30px; 

}

.coolList{
    text-align: center; margin: 0px; padding: 0px;
}

li{display: inline;}

.top{
    height:fit-content;
    padding: 100px;
    background-color: darksalmon;
    margin-bottom: 45px;
background-image: url(Media/How-To-Get-Back-Into-Skateboarding-As-An-Old-Guy.jpg);
    background-size: cover;
    background-attachment: fixed;

}


.main{
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    padding: 0 10px;
}


.buttons-links{
    display: block;
border-style: dashed;
border-color: darksalmon;
background-color: aquamarine;
text-decoration: none;
color: cadetblue;
border-radius: 90px;
border-width: 10px;
width: fit-content;
text-align: center;
margin: auto;
padding: 20px 20px;
margin-top: 15px;
margin-bottom: 20px;
}

img {
    width: 90%;
    border-style: double;
    border-width: thick;
    margin:auto;
    margin-bottom:50px;
    display:block;
}

.button-alert{
    display: block;
    border-style: outset;
    border-color: aquamarine;
    background-color: darksalmon;
    text-decoration: none;
    color: cornflowerblue;
    border-radius: 90px;
    border-width: 10px;
    width: fit-content;
    text-align: center;
    margin:auto;
    padding: 20px 20px;
    margin-top: 25px;
    margin-bottom: 40px;
}

footer{
    height:200px;
    background-color: darkorchid;
    padding: 50px 0px;
}


/* mobile styles */ 

@media only screen and (max-width: 600px){



    body{
        background-color:midnightblue;
    }

    p{color:goldenrod; margin: 0px 10%}
    
    h1{color:cornsilk; font-size: 50px;}

    h2{color:beige; font-size: 30px; padding-top: 25px;}

    .top{padding-bottom: 25px}

    .main{width: 100%;}

    nav{padding: 15px 0px;}

    .navText{font-size: 12px}
}