
body{
    background-color:lavender;
}
/*comment*/
h1{
    font-size: 120px; text-align: center; color: royalblue; font-family: 'Righteous', cursive;
}
h2{
    text-align: center; color: cadetblue; font-family: 'Zilla Slab', serif;
}
p{
    text-align: center; color:cornflowerblue; font-family: 'Zilla Slab', serif; margin: 15px 200px; line-height: 20px;
}

.buttons-links{
border-style: solid;
border-color: darkorange;
background-color: aquamarine;
text-decoration: none;
color: lightblue;
border-radius: 90px;
border-width: 10px;
width:fit-content;
text-align: left;
display: block;
}
